*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container{
    max-width: 80%;
    margin: auto;
}

ul{
    list-style: none;
}

li{
    display: inline;
}

img:hover{
    cursor: pointer;
}

div.twoelem{
    display: flex;
}

p.error{
    color: red;
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    background-color: khaki;
}

input{
    width: min-content;
    margin-bottom: 30px;
}